$bw-m: 0.075rem;
$bw-s: 0.025rem;
$bw-xs: 0.0125rem;
$bw-overlay: 0.25rem;

$br-s: 0.25rem;
$br-xs: 0.125rem;

$p-l: 2rem;
$p-m: 1rem;
$p-s: 0.5rem;
$p-background-svg: 1.75rem;

$color-border-light: #EAECF0;
$color-border: #D0D5DD;
$color-bg-hl: #FCFCFD;

$color-btn-bg: white;
$color-btn-hl: #F2F4F7;
$color-btn-selected: lightgrey;