<app-grid-search
  [delay]="configuration.search.inputDelayMs"
  (valueChanged)="searchChange$.next($event)"
/>
<app-loading-overlay [enabled]="(fetchingData$ | async)!">
  <app-grid-body
    [columnDefinitions]="configuration.columnDefinitions"
    [rowData]="(paginatedData$ | async)?.rows ?? []"
/></app-loading-overlay>
<app-grid-pagination
  [pageSize]="pageSize"
  [currentPage]="(currentPage$ | async)!"
  [totalRows]="(paginatedData$ | async)?.totalRowCount ?? 0"
  [disableActions]="(fetchingData$ | async)!"
  (pageSelected)="pageChange$.next($event)"
/>
