@import '../grid.variables';

.grid-wrapper {
    border: $bw-m solid $color-border-light;
    border-radius: $br-s;
    display: grid;
    width: max-content;
}

.row {
    display: contents;

    &:nth-child(even) {
        background-color: $color-bg-hl;
    }
}

.row-cell {
    padding: $p-s;
    align-content: center;

    border: solid $color-border-light;
    border-width: $bw-m 0 0 0;

    background-color: inherit;
}

.header-cell {
    padding: $p-s;
    background-color: $color-btn-hl;
}

.scroll-wrapper {
    width: 100%;
    overflow: scroll;
}