@import '../grid.variables';
@import '../grid.mixins';

.input-element {
    border: solid $color-border-light $bw-m;
    border-radius: $br-xs;
    padding: $p-s;
    padding-left: $p-background-svg;
    background: url('../../icons/search.svg') no-repeat 0.25rem center;
}

.search-wrapper {
    margin-bottom: 1rem;
    justify-content: center;

    @include widescreen {
        justify-content: flex-start;
    }
}