@import '../grid.variables';
@import '../grid.mixins';

.wrapper {
    justify-content: space-between;
    padding-top: $p-m;
    padding-bottom: $p-m;

    @include widescreen {
        flex-direction: row;
    }
}

.label {
    align-content: center;
    padding: $p-m;
    text-align: center;

    @include widescreen {
        text-align: left;
        padding: 0 $p-l 0 0;
    }
}

.centered {
    justify-content: center;
}

.range-buttons-wrapper {
    max-width: 30%;
    overflow-x: scroll;

    @include widescreen {
        max-width: fit-content;
    }
}

.range-btn {
    min-width: 2rem;
    cursor: pointer;

    background-color: $color-btn-bg;
    border-radius: 0;
    border: solid $color-border;
    border-width: $bw-s $bw-xs $bw-s $bw-xs;
    padding: $p-s;

    &.first {
        border-radius: $br-s 0 0 $br-s;

        background: url('../../icons/first_page.svg') no-repeat center;
    }

    &.previous {
        padding-left: $p-background-svg;
        background: url('../../icons/arrow_back.svg') no-repeat 0.25rem center;
    }

    &.next {
        padding-right: $p-background-svg;
        background: url('../../icons/arrow_forward.svg') no-repeat right 0.25rem center;
    }

    &.last {
        border-radius: 0 $br-s $br-s 0;

        background: url('../../icons/last_page.svg') no-repeat center;
    }

    &:hover {
        background-color: $color-btn-hl;
    }

    &.selected {
        background-color: $color-btn-selected;
    }
}