.input-element {
    border: solid #D0D5DD 0.075rem;
    border-radius: 0.125rem;
    padding: 0.5rem;
    padding-left: 1.75rem;
    background: url('../icons/search.svg') no-repeat 0.25rem center;
}

.search-wrapper {
    margin-bottom: 1rem;
}